@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@500&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body, html, * {
  font-family: "Funnel Display", "Josefin Sans", "Roboto", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.funnel-display, h1, h2, h3, h4 {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Hide scrollbar for carousels and horizontal scroll */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
} 